{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика безопасности</title>
    <link rel="stylesheet" href="static/main/css/bezopas.css">
</head>
<body>
    <div class="name">
        <h1 class="h-bez">Политика безопасности</h1>
    </div>
    <div class="contant">
        <img src="{% static 'main/img/!.png' %}" width="30%" height="30%"   class="robot bez-robot">
        <div class="text">
            <p>
                Решения по контролю доступа и другим системам безопасности.
                Совокупность программно-аппаратных технических средств контроля
                и средств управления, имеющих целью ограничение и регистрацию
                входа-выхода объектов (людей, транспорта), дополняемые задачами
                специального контроля на основе видеоаналитики и интеграции с
                системами определяющими права доступа и требования к лицам
                имеющим права доступа
            </p>
        <a href="/nav"><button class="btn bez-btn" href="#">Вернуться на главную</button></a>
        </div>
    </div>
    
</body>
</html>