{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карьерный рост</title>
    <link rel="stylesheet" href="static/main/css/css.css">
</head>
<body>
    <div class="name">
        <h1>Карьерный рост</h1>
    </div>
    <div class="contant">
        <img src="{% static 'main/img/!.png' %}" width="30%" height="30%"   class="robot kar-robot">
    </div>
    <a href="/karier"><button class="btn">Программист</button></a>
    <a href="/karier_ekonom"><button class="btn">Экономист</button></a>
    <a href="/karier_yadr"><button class="btn">Физик-атомщик</button></a>
    <a href="/nav"><button class="btn" href="#">Вернуться на главную</button></a>
</body>
</html>