{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карьерный рост</title>
    <link rel="stylesheet" href="static/main/css/karier.css">
</head>
<body>
    <div class="name">
        <h1>Карьерный рост</h1>
    </div>
    <div class="contant">
        <img src="{% static 'main/img/!.png' %}" width="30%" height="30%"   class="robot yader-robot">
        <div class="text yader-text">
            Зарплата физика-атомщика<br><br>

В регионах России зарплата начинающего специалиста составляет около 40 тысяч рублей в месяц; опытный специалист получает до 100 тысяч рублей в месяц. В Москве зарплаты выше. На Украине физики-ядерщики зарабатывают от 6000 гривен в месяц. В Германии физики зарабатывают в среднем от 60 тысяч евро в год.<br><br>

Карьерный рост<br><br>

Физик-ядерщик может дорасти до ведущего специалиста или руководителя предприятия на производстве. В научной сфере можно вырасти до руководителя исследовательского проекта или получить научную степень.<br><br>
        <a href="/karier_btn"><button class="btn" href="#">Назад</button></a>
        </div>
    </div>

</body>
</html>