{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карьерный рост</title>
    <link rel="stylesheet" href="static/main/css/karier.css">
</head>
<body>
    <div class="name">
        <h1>Карьерный рост</h1>
    </div>
    <div class="contant">
        <img src="{% static 'main/img/!.png' %}" width="30%" height="30%"   class="robot prog-robot">
        <div class="text">
            <ol class="text__text prog-text">
                <li>Младший инженер-программист. Требования: знание языков программирования (C++, Python, JavaScript...) и математической логики.</li><br>
                <li>Инженер-программист среднего уровня. Требования: знание мультипоточности, теории оптимизации, архитектуры ЭВМ, структуры данных.</li><br>
                <li>Старший инфенер программист. Требования: понимание рефакторинга, распределенного программирования, шаблонов проектирования.</li><br>
                <li>Ведущий инженер-программист. Задачи: создание архитектурного компонента, управление группами людей, исследования.</li><br>
                <li>Руководитель отдела. Задачи: Управление проектами, создание архитектуры продукта, управление людьми.</li> 
            </ol>
            </div>

                <a href="/karier_btn"><button class="btn">Назад</button></a>
    </div>
    
</body>
</html>