{% extends 'main/layout.html' %}

{% block title %} Регистрация {% endblock %}


{% block content %}
    <h1 class="h-next">Регистрация нового сотрудника</h1>
    <form method="post">
        {% csrf_token %}
        {{form.username}}<br>
        {{form.password1}}<br>
        {{form.password2}}<br>
        {{form.name}}<br>
        {{form.surname}}<br>
        {{form.dolznost}}<br>
        <button type="submit" class="floating-button next-button" >Продолжить</button>
    </form>

{% endblock %}