{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЕЦС</title>
    <link rel="stylesheet" href="static/main/css/Tech.css">
</head>
<body>
    <div class="name">
        <h1 class="h-tech">Единая Цифровая Стратегия</h1>
    </div>
    <div class="contant">
        <img src="{% static 'main/img/!.png' %}" width="30%" height="30%"   class="robot tech-robot">
        <div class="text tech-text">
            <p>
                Основа всех процессов цифровой трансформации и цифровизации Росатома - Единая цифровая стратегия (ЕЦС). Утвержденная в ноябре 2018 года и актуализированная с учетом результатов работы и изменений рынка в декабре 2019 года, ЕЦС включает три важных направления:<br><br>

Первое – участие в цифровизации России. Мы стали центром компетенций Федерального проекта «Цифровые технологии» Национальной программы «Цифровая экономика».<br><br>

Второе – цифровые продукты. Мы создаем высокотехнологичные решения не только для атомной энергетики, но и для других отраслей экономики.<br><br>

Третье – внутренняя цифровизация. Мы стремимся к единой для отрасли цифровой архитектуре, независимости от зарубежных технологий в критичных областях (на основе собственных IT-решений), четкой ориентации на экономический эффект.
            </p>
        <a href="/nav"><button class="btn" href="#">Вернуться на главную</button></a>
        </div>
    </div>
    
</body>
</html>